@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2D5BB;
}
.navbar{
    height: 560px;
    width: 96vw;
    margin: 15px 20px;
    background-color: #302016;
}
header{
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.427); */
}
.logo img{
    height: 80px;
    padding: 25px 0px 0px 40px;
}
nav{
    margin: 10px 50px 50px 370px;
    word-spacing: 80px;
    padding-top: 25px;
}
nav a{
    color: #A17B4F;
    text-decoration: none;
    font-size: 25px;
}
.hero-section{
    display: flex;
}
.content1{
    width: 600px;
    height: 400px;
    /* background-color: aliceblue; */
}
.content1 h1{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 70px;
    color: #ffffff;
    padding-left: 40px;
    word-spacing: 5px;
}
.content1 p{
    font-size: 25px;
    color: #ffffff;
    padding: 30px 50px;
    word-spacing: 5px;
}
.pho img{
    margin: -50px 0px 0px 60px;
    width: 550px;
    height: 530px;
}
#btn1{
    height: 50px;
    width: 200px;
    border-radius: 20px 20px 20px 20px;
    background-color: #8F9B22;
    border: none;
    color: #ffffff;
    font-size: 15px;
    margin-left: 50px;
    cursor: pointer;
}
.menu-icon{
    height: 350px;
    display: flex;
}
.inner{
    display: flex;
    padding: 60px 0px 0px 100px;
    gap: 120px;
}
.cold-coffee{
    background-color: #A17B4F;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.cold-coffee img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#cc{
    font-size: 30px;
    padding: 10px 10px;
}
.hot-coffee{
    background-color: #8F9B22;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.hot-coffee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hc{
    font-size: 30px;
    padding: 10px 20px;
}
.cup-coffee{
    background-color: #A17B4F;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.cup-coffee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ccee{
    font-size: 30px;
    padding: 10px 17px;
}
.dessert{
    background-color: #8F9B22;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.dessert img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#de{
    font-size: 30px;
    padding: 10px 50px;
}

.about{
    height: 560px;
    width: 96vw;
    margin: 15px 20px;
    display: flex;
    background-color: #A17B4F;
}
.video{
    height: 500px;
    width: 550px;
    margin: 30px 30px;
    background-color: #8F9B22;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content2{
    height: 570px;
    width: 580px;
}
.content2 h2{
    font-size: 50px;
    padding: 40px 0px 15px 170px;
}
.content2 p{
    font-size: 20px;
    text-align: justify;
    padding: 10px 50px;

}
.Explor{
    width: 90%;
    height: 1400px;
    margin: 60px 70px 0px 70px;
}
.Explor p{
    font-size: 25px;
    padding: 5px 30px;

}
#eam{
    font-size: 50px;
    padding: 30px 360px;
}
.upper{
    display: grid;
    grid-template-columns: repeat(2, 358px);
    grid-template-rows: repeat(2, 160px);
    grid-gap: 2em;
    padding-top: 50px;
}
.card-1, .card-2, .card-3, .card-4, .card-5,
.card-6, .card-7, .card-8, .card-9{
    background-color: #f5f5dc;
    grid-row: 1 / 4;
    border-radius: 5px;
    box-shadow:-10px 20px 30px -10px rgba(0, 0, 0, 0.10);
}
.middel{
    display: grid;
    grid-template-columns: repeat(2, 358px);
    grid-template-rows: repeat(2, 160px);
    grid-gap: 2em;
    margin-top: 40px;
}
.lower{
    display: grid;
    grid-template-columns: repeat(2, 358px);
    grid-template-rows: repeat(2, 160px);
    grid-gap: 2em;
    margin-top: 40px;
}
.pho-1, .pho-2, .pho-3, .pho-4,
.pho-5, .pho-6, .pho-7, .pho-8, .pho-9{
    height: 280px;
    width: 336px;
    margin: 10px 10px;
}
.pho-1 img, .pho-2 img, .pho-3 img,
.pho-4 img, .pho-5 img, .pho-6 img,
.pho-7 img, .pho-8 img, .pho-9 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#btn{
    font-size: 12px;
    padding: 8px 15px ;
    border-radius: 5px;
    margin: 4px 30px;
    border: none;
    color: #fff;
    background-color: #8F9B22;
    cursor: pointer;
}
.outer-gallery{
    height: 650px;
    width: 93vw;
    margin-left: 40px;
    background-color: #f5f5dc;
}
.gallery{
    height: 540px;
    width: 90vw;
    margin: 0px 0px 0px 20px;
    display: flex;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 7;
    grid-row-start: 1;
}
        
.div1 video, .div2 video, .div3 video,
.div4 video, .div5 video, .div6 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.message1{
    height: 100px;
    /* width: 96vw; */
    margin: 0px 20px;
}
.message1 h2{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}
.message2{
    height: 140px;
    width: 96vw;
    margin: 50px 20px;
}
.message2 h2{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.footer {
  background-color: #2b1b14;
  color: #ddd;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1300px;

}
.footer-logo{
    padding-left: 50px;
}
.footer-logo img {
  width: 100px;
  margin:40px 30px;
  margin-bottom: 10px;
}
.footer-logo p {
  font-size: 18px;
  color: #bbb;
  line-height: 1.5;
  text-align: center;
}
.footer-info{
    margin-right: 50px;
}
.footer-links h3,
.info1 h3,
.info2 h3 {
  font-size: 22px;
  text-align: center;
  margin: 10px 0px 0px -30px;
  color: #fff;
}
.footer-links ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-left: -30px;
}

.footer-links ul li {
  margin: 6px 0;
}
.footer-links ul li a {
  text-decoration: none;
  color: #ddd;
}
.info1 p,
.info2 p {
  font-size: 15px;
  text-align: center;
  margin: 5px 0px 0px -30px;
  color: #ccc;
}